html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title OPEN TUTORIALS ...
      link(rel="stylesheet", href="../scss/index.css")
   body 
      mixin addLinkItem(i)
         li 
            a(href=i.src)= i.title

      header.header 
         nav.nav 
            ul 
               +addLinkItem({src:"/controls/loading", title:"Loading"})
               +addLinkItem({src:"/controls/button", title:"Button"})
               +addLinkItem({src:"/controls/checkbox", title:"CheckBox"})
               +addLinkItem({src:"/controls/Glassmorphism", title:"Glassmorphism"})