html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Glassmorphism 
      link(rel="stylesheet", href="../css/Glassmorphism.css")
   body
      .container 
         header.header 
            a.logo(href="#") Logo 
            nav.navbar 
               ul
                  li
                     a.active(href="#home") home 
                  li
                     a(href="#about") about 
                  li
                     a(href="#team") team 
                  li
                     a(href="#contact") contact 
         //- 
         .content 
            h2 Glassmorphism UI 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quam adipisci tempora beatae pariatur iusto obcaecati doloremque, eveniet aliquam aliquid quod quis dolorem quisquam quibusdam numquam maiores commodi sint ut!
            a.btn(href="") read more 
         //- 
         .imgBox 
            img(src="../assets/Glassmorphism/character.png", alt="")
         //- 
         ul.socials 
            li
               a(href="")
                  img(src="../assets/Glassmorphism/facebook.png", alt="")
            li
               a(href="")
                  img(src="../assets/Glassmorphism/twitter.png", alt="")
            li
               a(href="")
                  img(src="../assets/Glassmorphism/instagram.png", alt="") 
         //- 
         p.createBy Copyright C 2021 
            span Online Tutorials 
            | All Right Reserved.