html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Controls Loading....
      link(rel="stylesheet", href="../scss/controls.css")
   body
      section.loading-container 
         .loader
            - var styles=["--i:1;","--i:2;","--i:3;","--i:4;","--i:5;","--i:6;","--i:7;","--i:8;","--i:9;","--i:10;","--i:11;","--i:12;","--i:13;","--i:14;","--i:15;","--i:16;","--i:17;","--i:18;","--i:19;","--i:20;"]
            each s in styles 
               span(style=s)
      section.hindi 
         .main-div 
            .center-div 
               .rot
               h1 loading 
         